html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 22px;
    color: white;
}


.boxNavBar {
    background-color: #232931;
    width: 100%vh;
    padding-top: 10px;
    margin-bottom: 0;
}

.navBarList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    margin-bottom: 0;
    list-style-type: none;
}

.navButton {
    font-size: 22px;
    padding: 10px;
    padding-bottom: 15px;
}

#navEntrar {
    color: white;
    padding: 12px;
    background-color: #62c86c;
    border: inherit;
    border-radius: 5px;
    font-size: 24px;
}

.boxImg {
    display: flex;
    background-image: url(../img/360_F_986834525_ikDftpdk2wPLquT8C36MFJ702tUFNTbG.jpg);
    width: 100%;
    height: 360px;
    margin-top: 0;
}

.boxImaText {
    text-align: center;
    margin: auto;
    font-size: 30px;
}

main {
    color: black;
}

.box-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-top: 15px;
}

.information-01 {
    height: 150px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    word-break: break-all;
}

/*Plan*/
.box-pricePLan {
    display: grid;
    place-items: center;
    
}
.box-pricePlan04ofers{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.boxOffersPlans{
    width: 200px;
    margin: 50px;
}
.boxOffersPlans button{
    background-color: #2dc76a;
    border:  #2dc76a;
    width: 100%;
    height: 60px;
}
.boxOffersPlans span{
    color: white;
    font-size: 20px;
}
#textPricePlan01{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
#textPricePlan02{
    font-size: 20px;
}
#oferGreen{
    background-color: #2dc76a;
    color: white;
    font-size: 18px;
    text-align: center;
    height: 100px;
    width: 100px;
    margin: auto;
    line-height: 100px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
#oferBlue{
    color: white;
    background-color: #202a34;
    height: 100px;
    text-align: center;
    line-height: 120px;
    position: relative;
    top: -62px;
    z-index: 1;
} 

/*Plan*/

/* Check domain*/
.checkDomain {
    height: auto;
    background-color: #34464f;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxSectionInformation {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

#boxSectionInformation-text {
    font-size: 30px;
}

#boxSectionInformation-text02 {
    font-size: 24px;
}

.checkDomain input {
    height: 50px;
    width: 50vw;
    border: white;
    border-radius: 5px;
}

.checkDomain input::placeholder {
    font-size: 20px;
    font-weight: bold;
    color: rgb(63, 51, 51);
}

#cheakDomainButton {
    margin-top: 30px;
    width: 250px;
    padding: 0;
    background-color: #2dc76a;
    border: #2dc76a;
    border-radius: 5px;
}

#cheakDomainButton p {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

/* Check domain*/

/*Contact Form*/
.contatacForm {
    margin: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contacformText01 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#contacformText02 {
    font-size: 22px;
}

.contatacForm input {
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    width: 300px;
}

.contatacForm input::placeholder {
    font-size: 18px;
}

.contatacForm textarea {
    width: 600px;
    font-size: 18px;
}

.contatacForm button {
    margin-top: 30px;
    width: 250px;
    padding: 0;
    background-color: #2dc76a;
    border: #2dc76a;
    border-radius: 5px;

}

.contatacForm button {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
}